body {
  background-color: ;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.book {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2rem;
  margin: 25px;
  background-color: white;
  border-color: black;
  border-radius: 14px;
  width: 90%;
  box-shadow: 0 4px 5px -5px black;
  margin-left: 5%;
  margin-right: 5%;
}

/* .book:hover {
  box-shadow: 0 10px 15px 1px #d6efff;
} */

ul {
  list-style-type: none;
}

h4 {
  position: relative;
  color: rgb(42, 46, 46);
}

h6 {
  position: relative;

  color: rgb(42, 46, 46);
}

h2 {
  font-size: 30px;
  color: rgb(42, 46, 46);
  margin-left: 5%;
}

h7 {
  font-size: 12px;
  color: rgb(42, 46, 46);
}

.img {
  padding: 10% 10% 10% 10%;
}

.btn1 {
  color: rgb(42, 46, 46);
  border-radius: 4px;
  padding: 7px;
  margin: 5px;
  border: none;
  box-shadow: 0 4px 3px -8px black;
}

.btn1:hover {
  background-color: #d6efff;
}
